// SASS RESET
    
    *, *:before, *:after
    box-sizing: border-box

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    text-size-adjust: none

footer, header, nav, section, main
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after, q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

input
    -webkit-appearance: none
    border-radius: 0

input[type=number] 
    -moz-appearance:textfield

///////////////////////////////

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap')
    

$SpaceMono: "Space Mono", mono

html
    display: flex
    justify-content: center
    align-items: center 
    background-color: rgb(168, 224, 227)
    font-family: $SpaceMono
    height: 100vh
    width: 100vw
    display: flex

    .App
        display: flex
        flex-direction: column
        text-align: center
        margin: auto
        width: 64rem
        height: 40rem



        h1
            color: rgb(52, 93, 93)
            font-size:  3rem
            font-weight: bold
            text-align: center
            width: 16rem
            margin: auto
            margin-bottom: 3rem

        
        .container
            display: flex
            flex-direction: row
            justify-content: normal
            background-color: white
            margin-top: auto
            height: 32rem
            border-radius: 2rem

            .calculator
                display: flex
                flex-direction: column
                justify-content: center
                align-content: space-evenly
                margin-right: 1rem
                width: 50%
                border-radius: 2rem 
                margin-left: 2rem
                text-align: left
                font-family: $SpaceMono

                input
                    height: 3rem
                    font-size: 1.75rem
                    border: none
                    background-color: hsl(185, 41%, 97%) 
                    border-radius: .5rem
                    text-align: right
                    padding-right: 1rem
                    -moz-appearance: textfield
                    font-family: $SpaceMono
                    color: hsl(186, 14%, 43%)

                    input[type=number]::-webkit-outer-spin-button,
                    input[type=number]::-webkit-inner-spin-button 
                        -webkit-appearance: none
                        margin: 0
                
                input:focus
                    outline: 2px solid green
                
                .bill-input
                    background: no-repeat url("./resources/icon-dollar.svg")
                    background-size: 2rem 85%   


                .split-input
                    background: no-repeat url("./resources/icon-person.svg")
                    background-size: 2rem 85%

                
                .input-title
                    display: flex
                    flex-direction: row



                p
                    margin-bottom: .75rem
                    padding-top: 1rem
                    color: rgb(111, 122, 125)


                .warning
                    color: red
                    margin-left: auto
                    flex-wrap: nowrap
                    font-size: .85rem


                .tip-buttons
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    grid-template-rows: repeat(2, 1fr)
                    gap: .75rem 

                    input
                        border: none
                        font-family: $SpaceMono
                        background-color: rgb(27, 70, 74)
                        color: white
                        width: 7.5rem
                        height: 3rem
                        margin: .45rem
                        text-align: center
                        font-size: 1.75rem
                        padding-right: 0rem

                    input:hover
                        background-color: rgb(173, 231, 223)
                        color: rgb(27, 70, 74)
                        

                    input[type=number]
                        text-align: right
                        padding-right: 1rem

                    

  


            .display
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                margin: 2rem
                margin-left: 1rem
                width: 50%
                background-color: rgb(27,70,74)
                border-radius: 2rem
                padding-top: 1rem

                .total
                    display: flex
                    flex-direction: row
                    color: white
                    margin: 2rem 2rem
                    width: 90%

                    .info
                        flex-direction: column
                        margin-right: auto
                        margin-bottom: auto
                        line-height: 1.5
                        margin-left: 1.5rem

                        .primary
                            font-size: 1rem
                            text-align: left
                            font-weight: bold

                        .secondary
                            font-size: 1rem
                            text-align: left


                    .cost
                        margin-left: auto
                        margin-top: auto
                        font-size: 5rem
                        color: rgb(93, 190, 172)
                input
                    display: inline-block
                    padding-bottom: .125rem
                    width: 80%
                    margin-top: auto
                    margin-bottom: 2.5rem
                    font-family: $SpaceMono
                    font-size: 1.5rem
                    height: 3rem
                    background-color: rgb(46, 102, 108)
                    color: rgb(27,70,74)
                    border: none
                    border-radius: .5rem
                    font-weight: bold


                input:hover
                    background-color: rgb(173, 230, 223)
                    color: rgb(26, 66, 64)

    #custom
        background-color: hsl(185, 41%, 97%)
        color: rgb(27,70,74)
        text-align: right

    #custom::placeholder
        text-align: center
        padding: 0rem


@media only screen and (max-width: 375px)

    html

        .App
            width: 100vw

            .container
                flex-direction: column
                height: 120rem

                .calculator
                    width: 90%
            
                    .tip-buttons
                        display: grid
                        grid-template-rows: repeat(3, 1fr)
                        grid-template-columns: repeat(2, 1fr)
                        width: 90%
                
                .display
                    width: 90%

                    .total

                        .cost
                            font-size: 4rem
